@page "/travel"

<h3>TravelHome</h3>

<div class="container mt-4">
    <h4>Explore Destinations</h4>
    <div class="list-group">
        <a href="travel/americas" class="list-group-item list-group-item-action">
            <strong>Americas</strong>
        </a>
        <a href="travel/asia" class="list-group-item list-group-item-action">
            <strong>Asia</strong>
        </a>
        <a href="travel/asia/thailand" class="list-group-item list-group-item-action ps-5">
            Thailand
        </a>
        <a href="travel/europe" class="list-group-item list-group-item-action">
            <strong>Europe</strong>
        </a>
    </div>
</div>

@code {

}
